

/* basics */


body
{
	line-height: 0;
}
a
{
     cursor: pointer;
}
p
{
     padding-top: 13px;
     margin: 0;
}
.clear
{
     clear: both;
}
.nowrap
{
     white-space: nowrap;
}
.inner
{
     display: inline-block;
     max-width: 700px;
     padding: 0 30px;
}
.center
{
     text-align: center;
}
.outer-block
{
     padding: 0 30px;
}
.block
{
     margin: 0 auto;
     max-width: 700px;
     padding: 0 30px; 
}


/* fonts */


h2
{
     font: 16px/1.7 'Open Sans', sans-serif;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
     margin: 0;
}
h1
{
     font: 26px/1.7 'Open Sans', sans-serif;
     color: #333;
     text-transform: uppercase;
     letter-spacing: 2px;
     margin: 0;
}

.norm
{
     font: 300 16px/1.7 Merriweather, serif;
	color: #333;
}
.ital
{
     font: 300 italic 13px/1.7 Merriweather, serif;
	color: #333;
}

.norm a, .ital a 
{
     color: #333;
     text-decoration: none;
     border-bottom: 1px solid #999;
}
.norm a:hover, .ital a:hover
{
     border: 0;
}


/* head */


#head
{
     position: fixed;
     top: 0;
     width: 100%;
     background-color: #fff;
     border-bottom: 1px solid #f2f2f2;
     opacity: 0.96;
     z-index: 1000;
}
.head_icon
{
     float: left;
     cursor: pointer;
     padding: 15px;
}


