
	body {
	    width: 1000px;
	    margin: 40px auto;
	    font: 300 15px 'Open Sans', sans-serif
	    font-size: 14px;
	    color: #555;
	}

	table {
	    *border-collapse: collapse; 
	    border-spacing: 0;
	    width: 100%;    
	}
	h1{
		padding: 10px 10px 10px 0px;
    	font: 26px/1.7 'Open Sans', sans-serif;
     	color: #333;
     	text-transform: uppercase;
     	letter-spacing: 2px;
     	margin: 0;
	}
	h2{
		padding: 10px 10px 10px 0px;
     	font: 16px/1.7 'Open Sans', sans-serif;
     	color: #333;
     	text-transform: uppercase;
     	letter-spacing: 2px;
     	margin: 0;
	}

	.bordered {
	    border: solid #444 1px;
	    -moz-border-radius: 6px;
	    -webkit-border-radius: 6px;
	    border-radius: 6px;   
	    font: 300 12px 'Open Sans', sans-serif
	}

	.bordered td, .bordered th {
	    border-left: 1px solid #444;
	    border-top: 1px solid #444;
	    padding: 12px; 
	}

	.bordered th {
		font: 12px 'Open Sans', sans-serif;

	    background-color: #DEDEDE;  
	    border-top: none;
	}

	.bordered td:first-child, .bordered th:first-child {
	    border-left: none;
	}

	.bordered th:first-child {
	    -moz-border-radius: 6px 0 0 0;
	    -webkit-border-radius: 6px 0 0 0;
	    border-radius: 6px 0 0 0;
	}

	.bordered th:last-child {
	    -moz-border-radius: 0 6px 0 0;
	    -webkit-border-radius: 0 6px 0 0;
	    border-radius: 0 6px 0 0;
	}

	.bordered th:only-child{
	    -moz-border-radius: 6px 6px 0 0;
	    -webkit-border-radius: 6px 6px 0 0;
	    border-radius: 6px 6px 0 0;
	}

	.bordered tr:last-child td:first-child {
	    -moz-border-radius: 0 0 0 6px;
	    -webkit-border-radius: 0 0 0 6px;
	    border-radius: 0 0 0 6px;
	}

	.bordered tr:last-child td:last-child {
	    -moz-border-radius: 0 0 6px 0;
	    -webkit-border-radius: 0 0 6px 0;
	    border-radius: 0 0 6px 0;
	}



